/*
Change `PATH_TO_FOLDER` to, for example, the folder to which you cloned the tests
*/
singularity {
    cacheDir = 'PATH_TO_FOLDER/ontvisc_regression_tests/NXF_SINGULARITY_CACHEDIR'
    autoMounts = true
}
conda {
    cacheDir = 'PATH_TO_FOLDER/ontvisc_regression_tests/NXF_CONDA_CACHEDIR'
}
process {
	executor = 'pbspro'
	scratch = false
	cleanup = false
}
/*
If you want to use Seqera Platform to monitor the runs, set the `accessToken`, `workspaceId` and change `enabled` to `true`. 
You can use [Seqera Platform](https://seqera.services.biocommons.org.au) from Australian BioCommons if you are an Australian researcher. 
Otherwise, you can still use the general version of [Seqera Platform](https://docs.seqera.io/platform/24.2). 
*/
tower {
  accessToken = ''
  endpoint = 'https://seqera.services.biocommons.org.au/api'
  workspaceId = ''
  enabled = false
}
