singularity {
    cacheDir = 'PATH_TO_FOLDER/NXF_SINGULARITY_CACHEDIR'
    autoMounts = true
}
conda {
    cacheDir = 'PATH_TO_FOLDER/NXF_CONDA_CACHEDIR'
}
process {
	executor = 'pbspro'
	scratch = false
	cleanup = false
}
tower {
  accessToken = ''
  endpoint = 'https://seqera.services.biocommons.org.au/api'
  workspaceId = ''
  enabled = false
}
